# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: 9.1.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: argocd
  values:
    global:
      domain: argocd.fern.samoth.eu
      addPrometheusAnnotations: true
      additionalLabels:
        ingress.samoth.eu/prometheus: allow
        ingress.samoth.eu/kube-apiserver: allow
        ingress.samoth.eu/internal-ingress: allow
        egress.samoth.eu/kube-apiserver: allow
        egress.samoth.eu/internal-ingress: allow
        egress.samoth.eu/internet-http: allow

    configs:
      cm:
        admin.enabled: false
        statusbadge.enabled: true
        timeout.reconciliation: 0
        kustomize.buildOptions: --enable-helm
        oidc.config: |
          name: Keycloak
          issuer: https://keycloak.fern.samoth.eu/realms/fern
          clientID: argocd
          clientSecret: $argocd-custom-secret:oidc.keycloak.clientSecret
          requestedScopes: ["openid", "profile", "email", "groups"]
      params:
        server.insecure: true
        applicationsetcontroller.enable.progressive.syncs: true
      ssh:
        knownHosts: |
          [forgejo.fern.samoth.eu]:2222 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJaP9rrVZsZZCIN8KcG+J4S7acpgSQcdyXdT72p/RXs0
      rbac:
        policy.csv: |
          g, argocd-admin, role:admin

    server:
      ingress:
        enabled: true
        ingressClassName: traefik-internal
