---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: grafana
  values:
    # TODO make Grafana HA
    replicas: 1
    downloadDashboardsImage:
      tag: 8.12.0
    admin:
      existingSecret: grafana-admin-secret
    env:
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_NEWS_NEWS_FEED_ENABLED: false
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
      GF_SECURITY_ANGULAR_SUPPORT_ENABLED: true
      GF_SERVER_ROOT_URL: https://grafana.fern.samoth.eu
    extraSecretMounts:
      - name: auth-generic-oauth-secret-mount
        secretName: grafana-admin-secret
        defaultMode: 0440
        mountPath: /etc/secrets/auth_generic_oauth
        readOnly: true
    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth.anonymous:
        enabled: false
      news:
        news_feed_enabled: false
      auth.generic_oauth:
        enabled: true
        name: Keycloak-OAuth
        allow_sign_up: true
        client_id: $__file{/etc/secrets/auth_generic_oauth/client-id}
        client_secret: $__file{/etc/secrets/auth_generic_oauth/client-secret}
        scopes: openid email profile offline_access roles
        email_attribute_path: email
        login_attribute_path: username
        name_attribute_path: full_name
        use_refresh_token: true
        auth_url: https://keycloak.fern.samoth.eu/realms/fern/protocol/openid-connect/auth
        token_url: https://keycloak.fern.samoth.eu/realms/fern/protocol/openid-connect/token
        api_url: https://keycloak.fern.samoth.eu/realms/fern/protocol/openid-connect/userinfo
        role_attribute_path: contains(roles[*], 'grafana-admin') && 'GrafanaAdmin' || 'Viewer'
        allow_assign_grafana_admin: true
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Alertmanager, orgId: 1 }
          - { name: Loki, orgId: 1 }
          - { name: Prometheus, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://prometheus-operated.monitoring.svc.cluster.local:9090
            isDefault: true
          - name: Alertmanager
            type: alertmanager
            uid: alertmanager
            access: proxy
            url: http://alertmanager-operated.monitoring.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
          - name: Loki
            type: loki
            access: proxy
            url: https://loki.fern.samoth.eu
            jsonData:
              timeout: 60
              maxLines: 1000
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: ceph
            orgId: 1
            folder: Ceph
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/ceph
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: postgres
            orgId: 1
            folder: Postgres
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/postgres
    dashboards:
      default:
        cert-manager:
          # renovate: depName="Cert-manager-Kubernetes"
          gnetId: 20842
          revision: 3
          datasource: Prometheus
        external-dns:
          # renovate: depName="External-dns"
          gnetId: 15038
          revision: 3
          datasource: Prometheus
        harbor:
          # renovate: depName="Harbor"
          gnetId: 16003
          revision: 2
          datasource: Prometheus
        smartctl-exporter:
          # renovate: dashboardName="SMARTctl Exporter Dashboard"
          gnetId: 22604
          revision: 2
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        spegel:
          # renovate: dashboardName="Spegel"
          gnetId: 18089
          revision: 1
          datasource: Prometheus
        node-exporter-full:
          # renovate: depName="Node Exporter Full"
          gnetId: 1860
          revision: 37
          datasource: Prometheus
        node-feature-discovery:
          url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        prometheus:
          # renovate: depName="Prometheus"
          gnetId: 19105
          revision: 6
          datasource: Prometheus
        qbittorrent:
          url: https://raw.githubusercontent.com/martabal/qbittorrent-exporter/refs/heads/main/grafana/dashboard.json
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        qbittorrent-high-cardinality:
          url: https://raw.githubusercontent.com/martabal/qbittorrent-exporter/refs/heads/main/grafana/dashboard_high_cardinality.json
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        traefik:
          # renovate: depName="Traefik Official Kubernetes Dashboard"
          gnetId: 17347
          revision: 9
          datasource: Prometheus
        volsync:
          # renovate: dashboardName="VolSync Dashboard"
          gnetId: 21356
          revision: 3
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
            - name: VAR_REPLICATIONDESTNAME
              value: ".*-bootstrap"
      ceph:
        ceph-cluster:
          # renovate: depName="Ceph Cluster"
          gnetId: 2842
          revision: 18
          datasource: Prometheus
        ceph-osd:
          # renovate: depName="Ceph - OSD (Single)"
          gnetId: 5336
          revision: 9
          datasource: Prometheus
        ceph-pools:
          # renovate: depName="Ceph - Pools"
          gnetId: 5342
          revision: 9
          datasource: Prometheus
      flux:
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
        flux-logs:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
          datasource: Prometheus
      kubernetes:
        etcd 2:
          # renovate: depName="etcd"
          gnetId: 22236
          revision: 4
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        kubernetes-hubble-podflows-ns:
          # renovate: depName="Kubernetes / Networking / Retina (Hubble) / Pod Flows (Namespace)"
          gnetId: 22899
          revision: 1
          datasource: Prometheus
        kubernetes-hubble-podflows-workload:
          # renovate: depName="Kubernetes / Networking / Retina (Hubble) / Pod Flows (Workload)"
          gnetId: 22862
          revision: 2
          datasource: Prometheus
        kubernetes-hubble-dns:
          # renovate: depName="Kubernetes / Networking / Retina (Hubble) / DNS"
          gnetId: 22898
          revision: 1
          datasource: Prometheus
        kubernetes-api-server:
          # renovate: depName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 18
          datasource: Prometheus
        kubernetes-coredns:
          # renovate: depName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 19
          datasource: Prometheus
        kubernetes-global:
          # renovate: depName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 42
          datasource: Prometheus
        kubernetes-namespaces:
          # renovate: depName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 41
          datasource: Prometheus
        kubernetes-nodes:
          # renovate: depName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 32
          datasource: Prometheus
        kubernetes-pods:
          # renovate: depName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 34
          datasource: Prometheus
        kubernetes-volumes:
          # renovate: depName="K8s / Storage / Volumes / Cluster"
          gnetId: 11454
          revision: 14
          datasource: Prometheus
        kube-state-metrics-v2:
          # renovate: depName="Kube State Metrics v2"
          gnetId: 21742
          revision: 1
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
            - name: VAR_DATASOURCE
              value: Prometheus
      postgres:
        postgresql:
          # renovate: depName="PostgreSQL Database"
          gnetId: 9628
          revision: 8
          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - vonage-status-panel
    serviceMonitor:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: traefik-internal
      hosts: ["grafana.fern.samoth.eu"]
    persistence:
      enabled: false
    testFramework:
      enabled: false
