---
autoDirectNodeRoutes: true
bpf:
  masquerade: true
  # Ref: https://github.com/siderolabs/talos/issues/10002
  hostLegacyRouting: true
  lbModeAnnotation: true
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
# NOTE: devices might need to be set if you have more than one active NIC on your hosts
# devices: eno+ eth+
endpointRoutes:
  enabled: true
dashboards:
  enabled: true
  annotations:
    grafana_folder: Cilium
envoy:
  enabled: false
externalIPs:
  enabled: true
hostFirewall:
  enabled: true
hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query;ignoreAAAA;sourceContext=workload|pod|dns|ip
      - drop:sourceContext=workload|pod|dns|ip;destinationContext=workload|pod|dns|ip;labelsContext=source_workload_kind,destination_workload_kind
      - flow:sourceContext=workload|pod|dns|ip;destinationContext=workload|pod|dns|ip;labelsContext=source_workload_kind,destination_workload_kind
      - flows-to-world:any-drop;port;syn-only;sourceContext=workload|pod|dns|ip;destinationContext=dns|ip;labelsContext=source_workload_kind
      - port-distribution:protocol;port;sourceContext=workload|pod|dns|ip;destinationContext=dns|ip;labelsContext=source_workload_kind,destination_workload_kind
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Cilium
  relay:
    enabled: true
    rollOutPods: true
    prometheus:
      serviceMonitor:
        enabled: true
  ui:
    enabled: true
    rollOutPods: true
    frontend:
      server:
        ipv6:
          enabled: false
    ingress:
      enabled: true
      hosts:
        - hubble.fern.samoth.eu
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: "10.69.0.0/16"
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
l2announcements:
  enabled: true
loadBalancer:
  algorithm: maglev
localRedirectPolicies:
  enabled: true
operator:
  replicas: 2
  rollOutPods: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Cilium
# policyAuditMode: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
socketLB:
  hostNamespaceOnly: true
# Graceful Helmfile to HelmRelease takeover
commonLabels:
  helm.toolkit.fluxcd.io/name: cilium
  helm.toolkit.fluxcd.io/namespace: kube-system
