---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
spec:
  interval: 30m
  chart:
    spec:
      chart: harbor
      version: 1.18.0
      sourceRef:
        kind: HelmRepository
        name: harbor
      interval: 5m
  values:
    imagePullPolicy: Always
    externalURL: https://harbor.fern.samoth.eu
    expose:
      ingress:
        hosts:
          core: harbor.fern.samoth.eu
        className: traefik-internal
      # we do not want harbor internal cert
      tls:
        enabled: false
    ipFamily:
      ipv6:
        enabled: false
    database:
      type: external
      external:
        host: postgres-infra-primary
        username: harbor
        coreDatabase: harbor
        existingSecret: postgres-infra-pguser-harbor
        sslmode: require
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    trivy:
      resources:
        requests:
          cpu: 10m
          memory: 256Mi
    # TODO switch to HA DRAGONFLY
    redis:
      type: external
      external:
        addr: harbor-dragonfly:6379
        existingSecret: harbor-redis-secret
    core:
      replicas: 2
      affinity: &affinity
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
           - topologyKey: "kubernetes.io/hostname"
    registry:
      replicas: 2
      affinity: *affinity
    persistence:
      persistentVolumeClaim:
        registry:
          existingClaim: harbor-registry
        jobservice:
          jobLog:
            storageClass: ceph-filesystem
            accessMode: ReadWriteMany
