# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: smartctl-exporter
  values:
    fullnameOverride: smartctl-exporter

    image:
      registry: quay.io

    config:
      device_exclude: /dev/scsi.*

    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
        - action: replace
          regex: (.*)
          replacement: $1
          sourceLabels:
            - __meta_kubernetes_endpoint_node_name
          targetLabel: instance

    prometheusRules:
      enabled: false

    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 1m
        memory: 8Mi
