# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: loki
  values:
    global:
      extraEnvFrom:
        - secretRef:
            name: &bucketSecretName loki-chunks

    # must be equal to kubernetes cluster name
    clusterLabelOverride: fern

    deploymentMode: SimpleScalable

    loki:
      annotations:
        secret.reloader.stakater.com/reload: *bucketSecretName
      schemaConfig:
        configs:
          - from: "2025-11-01"
            index:
              period: 24h
              prefix: index_
            object_store: s3
            schema: v13
            store: tsdb
      analytics:
        reporting_enabled: false
      auth_enabled: false
      limits_config:
        retention_period: 14d
        allow_structured_metadata: true
        volume_enabled: true
      commonConfig:
        path_prefix: /var/loki
        replication_factor: 1
      ingester:
        chunk_encoding: snappy
      querier:
        # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
        max_concurrent: 4
      pattern_ingester:
        enabled: true
      storage:
        bucketNames:
          chunks: loki-chunks
        type: s3
        s3:
          endpoint: rook-ceph-rgw-ceph-objectstore.storage.svc
          region: us-east-1
          accessKeyId: ${AWS_ACCESS_KEY_ID}
          secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
          s3ForcePathStyle: true
          insecure: true

    backend:
      replicas: 2
      extraArgs: &args
        - -config.expand-env=true
    read:
      replicas: 2
      extraArgs: *args
    write:
      replicas: 3 # To ensure data durability with replication
      extraArgs: *args

    lokiCanary:
      enabled: false
    test:
      enabled: false
    ruler:
      enabled: false

    gateway:
      enabled: false
    ingress:
      enabled: true
      ingressClassName: traefik-internal
      hosts:
        - loki.fern.samoth.eu

    monitoring:
      dashboards:
        enabled: true
        annotations:
          grafana_folder: "Loki"
      rules:
        enabled: true
      serviceMonitor:
        enabled: true
