apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: loki
  values:
    deploymentMode: SimpleScalable

    loki:
      analytics:
        reporting_enabled: false
      auth_enabled: false
      limits_config:
        retention_period: 14d
      commonConfig:
        replication_factor: 1
      storage:
        bucketNames:
          chunks: loki-chunks
        type: s3
        s3:
          s3forcepathstyle: true
          endpoint: rook-ceph-rgw-ceph-objectstore.storage.svc
          region: us-east-1


    ruler:
      enabled: false
