# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
spec:
  interval: 30m
  chart:
    spec:
      chart: kyverno
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: kyverno
  values:
    global:
      image:
        registry: ghcr.io
    admissionController:
      replicas: 3
      priorityClassName: &priorityClass high-priority
      podDisruptionBudget:
        enabled: true
      serviceMonitor:
        enabled: true
      container:
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 1024Mi
    backgroundController:
      priorityClassName: *priorityClass
      replicas: 2
      podDisruptionBudget:
        enabled: true
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 512Mi
    cleanupController:
      priorityClassName: *priorityClass
      replicas: 2
      podDisruptionBudget:
        enabled: true
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 512Mi
    reportsController:
      priorityClassName: *priorityClass
      replicas: 2
      podDisruptionBudget:
        enabled: true
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 512Mi
    grafana:
      enabled: true
